header {
    background-color: #861553;
    max-height: 500px;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: center; 
}

nav a:hover {
    text-decoration: underline;
}
figure {
    margin: auto;
    text-align: left;
}

h1 {
    font-size: 20px;
    text-align: left;
}