 
nav ul {
    list-style-type: none;
    padding: 10;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: center; 
}

nav a:hover {
    text-decoration: underline;
}